<div class="create-column-btn" (click)="navigateToCreateNewColumn()">
  Create a new Column
</div>

<div class="board">
  <div class="board-bar">
    <p class="board-name">{{boardName}}</p>
  </div>

  <div class="board-wrapper">
    <div class="board-columns">
      @for (column of columns; track $index) {
      <div class="board-column" [id]="column.id.toString()" cdkDropList #todoList="cdkDropList" [cdkDropListData]="column.tasks"
        [cdkDropListConnectedTo]="dropLists" (cdkDropListDropped)="drop($event)">
        <div class="column-title">
          {{column.name}}
        </div>
        <div class="add-task" (click)="addTaskToColumn(column.id)">Add Task</div>
        @for (task of column.tasks; track task) {
        <div class="task" cdkDrag [cdkDragData]="task" (click)="openTask(task.id)">{{task.name}}</div>
        }
      </div>
      }
    </div>
  </div>
</div>